spring:
    application:
        name: profile
    datasource:
        url: jdbc:mysql://localhost:3306/users
        username: root
        password: Raja@6666
        driver-class-name: com.mysql.cj.jdbc.Driver
        hikari:
            maximum-pool-size: 10
            minimum-idle: 5
            idle-timeout: 30000
            pool-name: HikariCP
            max-lifetime: 2000000
            connection-timeout: 30000
    jpa:
        hibernate:
            ddl-auto: validate
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        show-sql: true 
        properties:
            hibernate:
            dialect: org.hibernate.dialect.MySQL8Dialect
            
    data:
        redis:
            host: localhost
            port: 6379
    cache:
        type: redis
    kafka:
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.apache.kafka.common.serialization.StringSerializer
    cloud:
        config:
            enabled: false


server:
  port: 9002
