spring:
  application:
    name: tasks
  datasource:
    url: jdbc:mysql://localhost:3306/tasks
    username: root
    password: Raja@6666
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      pool-name: HikariCP
      max-lifetime: 2000000
      connection-timeout: 30000
  jpa:
    hibernate: 
      ddl-auto: validate
    show-sql: true
    properties: 
      hibernate: 
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

server:
  port: 9004